.instructor-container {
  /* max-width: 600px; */
  min-height: 100vh;
  /* margin: 40px auto; */
  padding: 20px;
  background: #f9f9f9;
  /* border-radius: 12px; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.dashboard-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form-container input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  /* border-radius: 6px; */
}

.form-container button {
  padding: 8px 12px;
  background-color: #7874c9;
  color: white;
  border: none;
  /* border-radius: 6px; */
  cursor: pointer;
  transition: background 0.2s;
}

.form-container button:disabled {
  background-color: #a5b4fc;
  cursor: not-allowed;
}

.form-container button:hover:not(:disabled) {
  background-color: #5651c7;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 16px;
  margin-top: 20px;
}

.course-card {
  background: #fff;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

.course-card:hover {
  transform: scale(1.03);
}
